.env
lamisplus_venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python     
ingestion_pipeline.egg-info/
dist/  
build/  
records_ingestion/logs/*
!records_ingestion/logs/.gitkeep

records_deletion/logs/*
!records_deletion/logs/.gitkeep

file_deletion/logs/*
!file_deletion/logs/.gitkeep