/home/oluwaloseyi/.vscode-server/
__pycache__/
/.wget-hsts/
.bash_history
.bash_logout
.bashrc
.lesshst
.profile
.psql_history
.python_history
.selected_editor
.ssh/authorized_keys
.ssh/id_rsa.pub
.sudo_as_admin_successful
.wget-hsts
.cache/
.local/
.vscode-server/
lamisplus_venv/
logs/
records_ingestion/logs/*.log
records_ingestion/__pycache__/*
records_deletion/logs/*.log
records_deletion/__pycache__/*
file_deletion/logs/*.log
file_deletion/__pycache__/*
file_deletion/nohup.out
records_extraction/logs/*.log
records_extraction/__pycache__/*
records_ingestion/nohup.out
records_deletion/nohup.out
